.cart-container{
    margin: 5% 20%;
    .cart-items-list{
        list-style-type: none; 
        padding: 3rem;
        li{
            display: flex;
            justify-content: space-between;
            align-items: center;
            img{
                max-width: 5rem;
                max-height: 5rem;
            }
            .delete-item-button{
                margin: 1rem 1rem;
                padding: 0;
                background-color: transparent;
                border: none;
                color: var(--main-color);
            }
        }
    }
    .cart-subtotal{
        padding: 3rem;
    }
}
