.cart-container{
    margin: 5% 20%;
    .block-container{
        padding: 3rem;
        .cart-items-list{
            list-style-type: none; 
            padding: 0;
            li{
                display: flex;
                justify-content: space-between;
                align-items: center;
                align-content: flex-start;
                padding: 1rem 0;
                .cart-item-image{
                    min-width: 90px;
                    img{
                        max-width: 5rem;
                        max-height: 5rem;
                    }
                }
                .cart-item-options{
                    min-width: 200px;
                    .cart-item-name{
                        white-space: nowrap;
                    }
                }
            }
            .delete-item-button{
                margin: 1rem 1rem;
                padding: 0;
                background-color: transparent;
                border: none;
                color: var(--main-color);
            }
        }
        .cart-subtotal{
            .checkout-button{
                color: black;
                background-color: transparent;
                border-style: solid;
                border-color: black;
                transition: ease-out 0.3s;
                &:hover{
                    box-shadow: inset 300px 0px 0px 0px var(--main-color);
                    color: white;
                    border-color: var(--main-color);
                    cursor: pointer;
                }

            }
        }
    }
}
