.hero-container {
    width: 100%;
    .hero-bg {
        background-image: url(https://cdn.mos.cms.futurecdn.net/f20f65c063facc99be6da2d1174a281a.jpg);
        height: 150%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        padding-top: 0;
        position: absolute;
        width: 100%;
        z-index: 1;
        margin: auto;
        .hero-tittle-container {
            display: felx;
            .hero-tittle {
                text-align: center;
                color: rgba(255, 255, 255, 0.767);
                text-shadow: 0px 0px 30px rgba(25, 25, 25, 1);
                margin-top: 35vh;
                font-size: 10rem;
                margin-left: 5rem;
                letter-spacing: 5rem;
            }
        }
    }
    .main-section {
        top: 125vh;
        width: 100%;
        position: relative;
        z-index: 2;
    }
}
