:root {
    --main-color: rgb(255, 123, 0);
    --font-color-main: (#4b423c);
}
* {
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
}
body {
    background-color: #ebebeb !important;
    padding-top: 3.3rem;
    height: 2000px;
    min-height: calc(100vh - 40px);
    //----------------------------------------------------------------//
    // global elements styles
    .block-container {
        background-color: #fcfcfc;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 0.1rem;
    }

    // form styles
    .user-form {
        margin: 5rem auto;
        padding: 2rem;
    }

    .user-form-element {
        margin: 2rem;
    }

    .user-form-button {
        width: 100%;
        border-style: none;
        background-color: rgba(255, 255, 255, 0);
        border-color: black;
        border-style: solid;
        padding: 0.1rem 0;
        transition: ease-out 0.2s;
        &:hover {
            color: white;
            background-color: var(--main-color);
            border-color: var(--main-color);
        }
    }

    .user-form-input {
        width: 100%;
        border: none;
        outline: none;
        border-bottom: 1px solid #afafaf;
        &:focus {
            border-bottom: 1px solid var(--main-color);
        }
    }
    .row {
        display: flex;
        flex-wrap: wrap;
    }
    
    .col-25 {
        flex: 25%;
    }
    
    .col-50 {
        flex: 50%;
    }
    
    .col-75 {
        flex: 75%;
    }
    
    .col-25,
    .col-50,
    .col-75 {
        padding: 0 1rem;
    }
    .checkout-button{
        color: black;
        background-color: transparent;
        border-style: solid;
        border-color: black;
        transition: ease-out 0.3s;
        &:hover{
            box-shadow: inset 300px 0px 0px 0px var(--main-color);
            color: white;
            border-color: var(--main-color);
            cursor: pointer;
        }
    }
}

::selection{
    background: var(--main-color);
}

input:focus{
    outline-color: var(--main-color);
}
