:root {
    --main-color: rgb(255, 123, 0);
    --font-color-main: (#4b423c);
}
* {
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
}
body {
    background-color: #ebebeb !important;
    padding-top: 50px;
    height: 2000px;
    min-height: calc(100vh - 40px);
}
